link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
script(type="text/javascript", src="/bower_components/angular/angular.min.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/app/app.js")

body(ng-app='app')
    .container
        h1 Find a Job Today!
        div(ng-controller="jobCtrl as joblist")
            .list-group
                a.list-group-item(href="#", ng-repeat="job in joblist.jobs track by $index")
                    h4.list-group-item-heading {{job.title}}
                    p.list-grou-item-text {{job.description}}
        